@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
  --blue-color: #48f0f6;
  --violet-color: #966fe4;
  font-family: "Russo One", sans-serif;
}

body {
  margin: 0;
}

/*************************************NAV********************************/

nav {
  display: flex;
  justify-content: space-around;
  position: sticky;
  height: 120px;
  background-color: black;
  z-index: 10;
}

#logo {
  height: 120px;
}

.navlink {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
  gap: 10%;
  align-items: center;
  width: 80%;
}

.navlink,
a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.navlink > a:hover {
  scale: 1.1;
  transition: 1s;
  background-image: linear-gradient(45deg, #48f0f6, #966fe4);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/**********************************CONTACT*******************************/

h1 {
  font-size: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.formulaire {
  text-align: center;
}

.formulaire p {
  font-weight: bold;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  background: none;
}

textarea {
  resize: none;
  margin-top: 10px;
  border-radius: 10px;
}

button {
  width: 15%;
  height: 35px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background: linear-gradient(20deg, #48f0f6, #966fe4);
  color: white;
}

.contact {
  display: flex;
  justify-content: space-around;
	align-items: center;
}

.imgContact {
  width: 200px;
}

.linkContact {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.buttonContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 200px;
  height: 35px;
  margin-right: 15px;
  background: linear-gradient(20deg, #966fe4, #48f0f6);
  color: white;
}

/**********************************FOOTER*******************************/

footer {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer > p {
  padding: 0;
}

.foot {
  height: 40px;
}

.footlink {
  display: flex;
  gap: 20px;
  margin-right: 5%;
}

.foot-photo {
  height: 40px;
  transition: 1s;
}

.foot-photo:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 1s;
}

/**************************MEDIA****************************/

@media (min-width: 1200px) and (max-width: 1600px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: auto;
    margin-top: 50px;
  }
}

@media (min-width:1000px) and (max-width: 1200px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-top: 50px;
  }
}

@media (max-width: 1000px) {

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    height: 300px;
    background-color: black;
    z-index: 10;
}

#logo {
    height: 80px;
}

.navlink {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    gap: 5%;
    align-items: center;
    width: 5%;
}

.navlink, a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 10%;
    font-size: 30px;
    gap: 20px;
}

#icon {
    font-size: 58px;
}

.nav {
    height: 8vh;
    overflow: hidden;
    transition: height 0.2s ease;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

footer {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 80px;
  width: 100%;
  margin: auto;
  position: relative;
}

footer p {
  font-size: 5px;
}

.foot {
  height: 15px;
  margin-left: 1%;
}

.footlink {
    display: flex;
    gap: 2%;
    margin-right: 15%;
}

.foot-photo {
    height: 40px;
    transition: 1s;
}

.linkContact {
  margin: auto;
  font-size: 16px;
}

.imgContact{
  display: none;
}

.btn {
  width: 80%;
}

.bg-dark {
  width: 30%;
}

}

@media (max-width: 600px) {

}